*, 
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
}

#check-btn{
    margin-top: -30px;
}
#clear-btn{
    margin-top: -20px;
}

.container{
    width: 45%;
    min-width: 450px;
    background-color: rgba(233, 116, 6, 0.852);
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    box-shadow: 0 20px 25px rgba(0, 0, 0, 0.18);
    font-size: 16px;
}

.container *{
    font-family: "DM Sans", sans-serif;
    outline: none;
}

input{
    width: 60%;
    border: none;
    border-bottom: 2px solid #000000;
    padding: 10px 5px;
    font-weight: 400;
    border-radius: 3px;
}

input:focus{
    border-bottom: 2px solid #009bcf;
}

button{
    width: 25%;
    float: right;
    padding: 10px 20px;
    background-color: #000000;
    border: none;
    border-radius: 3px;
    color: #ffffff;
    font-weight: 400;
}

button:hover{
    background-color: rgb(0, 46, 99)
}

#results-div{
    margin-top: 30px;
    text-align: center;
    color: aliceblue;
    font-weight: 500;
}